.container {
  align-items: center;
  background-color: var(--color-code-white);
  border: 1.5px solid var(--color-code-gray);
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  padding: 6px;
  white-space: nowrap;
  color: var(--color-code-black);

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.name {
  margin-left: 8px;
}

.all {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-code-white);
  background: var(--color-code-red);
  border-radius: 7.2px;
}

.active {
  border-color: var(--color-code-red);
}
