{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-prettier"],
  "rules": {
    "alpha-value-notation": null,
    "selector-class-pattern": null,
    "color-function-notation": null,
    "length-zero-no-unit": null,
    "no-descending-specificity": null,
    "scss/at-import-partial-extension": null,
    "scss/double-slash-comment-empty-line-before": null,
    "scss/double-slash-comment-whitespace-inside": null,
    "selector-pseudo-class-no-unknown": null,
    "selector-pseudo-element-colon-notation": null,
    "font-family-no-missing-generic-family-keyword": null,
    "font-family-name-quotes": null,
    "declaration-empty-line-before": null,
    "declaration-block-no-duplicate-properties": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "shorthand-property-no-redundant-values": null,
    "no-duplicate-selectors": null,
    "keyframes-name-pattern": null,
    "scss/at-mixin-pattern": null,
    "property-no-unknown": null,
    "value-keyword-case": null,
    "property-no-vendor-prefix": null,
    "number-max-precision": null,
    "custom-property-empty-line-before": null,
    "rule-empty-line-before": null
  }
}
