.container {
  background: var(--color-code-white);
  border-radius: 20px;
  box-sizing: border-box;
  display: block;
  padding: 5px;
  position: relative;
  text-decoration: none;
  width: 70vw;
  min-width: 70vw;
  text-decoration: none;


  :global(.swiper) {
    overflow: initial;
  }

  :global(.swiper-container){
    width: 100%;
  }
  :global(.swiper-wrapper) {
    min-height: 100%;
    height: 100vw;
  }
  :global(.swiper-slide) {
    width: auto;
    height: 100vw;
  }

  :global(.swiper-pagination-bullet) {
    background: #d8d8d8;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    opacity: 1;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: var(--color-code-red);
    border-radius: 10px;
    width: 19px;
  }
}


.sliderImageWrapper {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 100%;
}

.slideImage {
  border-radius: 18px;
  border-bottom-left-radius: 80px;
  height: auto;
  max-height: 59vw;
  object-fit: cover;
  width: 100%;
}

.fullImage {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 100%;

  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  border-bottom-left-radius: 70px;
  display: flex;
  justify-content: center;
  height: 80vw;
}

.slideCardColor {
  width: 97%;
  height: 25%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: rotate(4deg);
  z-index: -1;
  position: absolute;
  box-sizing: border-box;
  bottom: -12px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px auto;
  max-width: 245px;

  color: var(--color-code-black);
}

.promotionText {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

  p,
  span {
    display: block;
    width: 100%;
  }
}
