.container {
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin: 0;
  border-radius: 40px;

  // types
  &.primary {
    background: var(--color-code-red);
    color: var(--color-code-white);
  }

  &.secondary {
    background: var(--color-code-black);
    color: var(--color-code-white);
  }

  // sizes
  &.medium {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    padding: 13px;
    min-width: 91px;
  }

  // shapes
  &.circle {
    min-width: auto;
    border-radius: 50%;

    &.medium {
      width: 40px;
      height: 40px;
    }
  }
}
