// fonts
:root {
  --font-family-default: Gotham,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

// colors
:root {
  --color-code-red: #f40000;
  --color-code-white: #fff;
  --color-code-black: #1D1E1C;
  --color-code-gray: #ECEEEF;

}
