.container {
  position: relative;
}

.brandImage {
  position: absolute;
  bottom: -5px;
  border-radius: 100%;
  box-sizing: border-box;
  height: 15vw;
  left: 10px;
  width: 15vw;
  padding: 6px;

  img {
    width: 100%;
    display: block;
  }
}

.image {
  height: auto;
  width: 100%;
  object-fit: cover;
  max-height: 59vw;
}

.fullImage {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 100%;

  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  border-bottom-left-radius: 70px;
  display: flex;
  justify-content: center;
  height: 80vw;
}

.date {
  background: var(--color-code-black);
  border-radius: 25px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: var(--color-code-white);
  position: absolute;
  padding: 8px;
  right: 2%;
  bottom: 5%;
}
