.container {
  margin-top: 20px;

  :global(.swiper) {
    overflow: initial;
  }

  :global(.swiper-container) {
    width: 100%;
  }
  :global(.swiper-wrapper) {
    min-height: 100%;
    height: 100vw;
  }

  :global(.swiper-slide) {
    width: auto;
    height: 100vw;
  }

  :global(.swiper-pagination-bullet) {
    background: #d8d8d8;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    opacity: 1;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: var(--color-code-red);
    border-radius: 10px;
    width: 19px;
  }
}
